

  <%= link_to land, class: "link-offset-2 link-underline link-underline-opacity-0" do %>
      
    <div class="col" id="<%= dom_id land %>">
      <div class="card border-light shadow-sm mb-5 bg-body-tertiary rounded">
      

          <% if land.images.attached? %>
            <%= render "images_index", images: land.images %>
          <% end %>
      

        <div class="card-body">
          <p class="card-text">
              <strong class="text-pink"><%= land.title_land %></strong> <br>
          </p>

            <p class="text-primary-emphasis">
              <%= truncate_html(land.description) %>
            </p>
        
            <div class="row">
              <div class="col">
                <strong class="text-pink fs-5"><%= land.price %> Kz</strong>
              </div>
            </div>
              
        </div>
      </div>
    </div>
  <% end %>


