  <div class="album py-5" id="lands">
    <div class="container-fluid">
      <div class="d-flex justify-content-end">
        
        <%= link_to land_show_images_path(@land), 
        class:"btn btn-pink ms-1" do %>
          <i class="bi bi-camera-fill"></i>
           <%= t("pages.lands.links.see-all-more-photos")%>
            
        <% end %>

        <%= render "favorite_lands/form", 
        favorite_land: favorite_land_built(@land) %>
        
    
       </div>
        <div class="row my-1">
            <% if @land.images.attached? %>
              <div class="col-sm-6">
                  <%= image_tag(@land.images.first, 
                  class: "bd-placeholder-img card-img-top", width:"100%", height:"390")%>
              </div>
              <div class="col">
                <div class="row">
                    <%= render "images_show", images: @land.images %>
                </div>
              </div>
            <% end %>
        </div>

    </div>
  </div>

  <div class="container">
  <% if user_signed_in? %>
    <div class="d-grid gap-2">
      <%= link_to t("links.edit"), edit_land_path(@land), class:"btn btn-info" %> 
      <%= button_to t("links.destroy"), @land, method: :delete, class:"btn btn-danger  my-1 col-sm-12" %>
    </div>
  <% end %>
    <br>
    <p>
      <strong class="fs-4 text-pink">
        <%= @land.address.street %>, 
        <%= @land.address.city.city_name %>,  
        <%= @land.address.city.province.province_name %>
        <i class="bi bi-geo-alt-fill fs-4"></i>
      </strong>
    </p>
    
    <h1 class="fs-3 text-primary-emphasis">
        <%= @land.title_land %>
    </h1>
    <p class="fs-3 text-pink">
       <strong> <%= @land.price %></strong> Kz  <span class="fs-5">/mês</span>
    </p>
   
    
   <div class="fs-3">

    <div class="d-inline text-primary-emphasis">
      Largura: <%= @land.dimention.height_d %> m², 
      Comprimento: <%= @land.dimention.width_d %> m²
    </div>
   
   </div>

    <div class="row">
      <div class="col-sm-8">
        
        <hr class="text-pink"> <br>
        <strong class="text-pink">Descrição: </strong>
        <p class="text-primary-emphasis">
          <%= @land.description %>
        </p>

        <br>
        <hr class="text-pink">

      <!-- Lands -->
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3" id="lands">
        <% @profile.lands.each do |land| %>
          <%= render land %>
        <% end %>
      </div>
      <!-- End lands -->

      </div>
      
      <%= render "lands/publisher" %>
    </div>
  </div>






