 <div class="container my-4">
    <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <div class="card-body">
                    
           <%= bootstrap_form_tag url: "/houses/search_advanced", method: :get do |form| %>
          
              <div class="row text-primary-emphasis">
                <div class="col-sm-4">
                    <%= form.text_field :title, label: House.human_attribute_name(:title),
                    value: " ", class: "text-light-emphasis" %>      
                </div>
              <div class="col">
                 <%= form.number_field :living_room, label: House.human_attribute_name(:living_room),
                 value: 1, class: "text-light-emphasis" %> 
              </div>
              <div class="col">
                <%= form.number_field :room, label: House.human_attribute_name(:room), 
                value: 1, class: "text-light-emphasis"%>
              </div>
              <div class="col">
                <%= form.number_field :price, label: House.human_attribute_name(:price),
                value: 500000, class: "text-light-emphasis" %>
              </div>
                <div class="col"> 
                    <%= form.number_field :kitchen, label: House.human_attribute_name(:kitchen),
                    value: 1, class: "text-light-emphasis" %>    
                </div>
            </div>
            
            <div class="row text-primary-emphasis">
              <div class="col"> 
                  <%= form.select :type_negotiation, House.type_negotiations, 
                {label: House.human_attribute_name(:type_negotiation)}, class: "text-light-emphasis" %>  
              </div>
               
              <div class="col">
                <%= form.select :condition, House.conditions, 
                          {label: House.human_attribute_name(:condition)}, class: "text-light-emphasis" %>
              </div>
               <div class="col">
                  <%= form.select :tipology, House.tipologies, 
                            {label: House.human_attribute_name(:tipology)}, class: "text-light-emphasis"%>    
              </div>
               <div class="col">
                <%= form.collection_select :province_code, Province.order(:province_name), :id, :province_name, 
                  { label: Province.model_name.human(count: 1) }, class: "province province_select text-light-emphasis" %> 
              </div>
               <div class="col">
                    <%= form.collection_select :city_code, City.order(:city_name), :id, :city_name, 
                            { label: City.model_name.human(count: 1)}, class: "city_select text-light-emphasis" %>
              </div>
           
            </div>
              
              <div class="row text-primary-emphasis">
                <div class="col">
                   <%= form.number_field :bath_room, label: House.human_attribute_name(:bath_room),
                   value: 1, class: "text-light-emphasis" %>
                </div>
                <div class="col"> 
                   <%= form.number_field :balcony, label: House.human_attribute_name(:balcony),
                   value: 1, class: "text-light-emphasis" %> 
                </div>
              
                <div class="col">
                  <%= form.number_field :yard, label: House.human_attribute_name(:yard), 
                  value: 1, class: "text-light-emphasis"%>
                </div>
                <div class="col">
                   <%= form.number_field :garage, label: House.human_attribute_name(:garage), 
                   value: 1, class: "text-light-emphasis" %>
                </div>
                <div class="col">
                    <%= form.number_field :pool, label: House.human_attribute_name(:pool), 
                    value: 1, class: "text-light-emphasis" %>
                </div>
              </div>

              <div class="row text-primary-emphasis">
                <div class="col">
                   <%= form.select :next_by, House.next_bies, 
                    {label: House.human_attribute_name(:next_by)}, class: "text-light-emphasis"%>
                </div>
                <div class="col">
                    <%= form.select :property_type, House.property_types, {
                        label: House.human_attribute_name(:property_type)}, class: "text-light-emphasis"%>
                </div>


              </div>
           
                <%= form.check_box :furnished, label: House.human_attribute_name(:furnished),
                class: "text-light-emphasis" %>
              
            <div class="mb-3 d-grid gap-2">
              <%= form.submit "Pesquisar", class: "btn btn-pink" %>
            </div>
          <% end %>

        </div>
    </div>
  </div>

