<%= form_with(model: favorite_house) do |form| %>
  <% if favorite_house.errors.any? %>
    <div style="color: red">
      <h5><%= pluralize(favorite_house.errors.count, "error") %> prohibited this favorite_house from being saved:</h5>

      <ul>
        <% favorite_house.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

     <% if user_signed_in? %>
      <%= form.hidden_field :profile_id, value: favorite_house.profile_id%>
      <%= form.hidden_field :house_id, value: favorite_house.house_id %>
    
      <%= form.submit t("links.save-as-favorite"), class:"btn btn-pink ms-1" do %>
        <i class="bi bi-heart-fill"></i>
      
            
      <% end %>
    <% else %>
      <%= link_to user_session_path, class: "btn btn-pink ms-1" do %>
        <i class="bi bi-heart-fill"></i>

        <%= t("links.save-as-favorite")%>
            
      <% end %> 
    <% end %>

<% end %>
