  <header class="p-3">
    <div class="container-fluid">

      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
           <li> <%= link_to t("navbar.home"), root_path, class: "nav-link px-2 text-pink fs-5" %> </li>
          
          <% if user_signed_in? and !current_user.profile.nil?%>
            <% if current_user.profile.super_adminstrador? %>
              <li>
                <%= link_to "Pendentes", pending_houses_path, class: "nav-link px-2 text-pink fs-5" %>
              </li>
            <% end %>
            <% if !current_user.profile.cliente? %>
              <!-- House -->
              <div class="dropdown">
                <button class="nav-link px-2 text-pink fs-5 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <%= t("navbar.house-register") %>
                </button>
                <ul class="dropdown-menu">
                  <li>
                      <%= link_to t("navbar.properties.house.new"), new_house_path, class: "dropdown-item nav-link px-2 text-pink fs-5" %>
                  </li>
                  <li>
                    <%= link_to t("navbar.properties.house.view"), houses_path, class: "dropdown-item nav-link px-2 text-pink fs-5" %>
                  </li>
                  <li>
                    <%= link_to t("navbar.properties.house.my-posted-properties"), houses_path, class: "dropdown-item nav-link px-2 text-pink fs-5" %>
                  </li>
                </ul>
              </div>
            <!-- House end-->

            <!-- Land -->
            <div class="dropdown">
              <button class="nav-link px-2 text-pink fs-5 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <%= t("navbar.land-register") %>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to t("navbar.properties.land.new"), new_land_path, class:"dropdown-item nav-link px-2 text-pink fs-5" %>
                </li>
                <li>
                  <%= link_to t("navbar.properties.land.view"), lands_path, class:"dropdown-item nav-link px-2 text-pink fs-5" %>
                </li>
                <li>
                  <%= link_to t("navbar.properties.land.my-posted-properties"), profile_lands_path, class:"dropdown-item nav-link px-2 text-pink fs-5" %>
                </li>
              </ul>
            </div>
            <!-- Land end-->

          <% end %>
        <% end %>



              <!--Rent-->
              <div class="dropdown">
                  <button class="nav-link px-2 text-pink fs-5 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <%= t("navbar.house") %>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <%= link_to t("navbar.rent"), rent_houses_path, class:"dropdown-item nav-link px-2 text-pink fs-5" %>
                    </li>
                     <li>
                      <%= link_to t("navbar.buy"), buy_houses_path, class:"dropdown-item nav-link px-2 text-pink fs-5" %>
                    </li>
                     <li>
                        <%= link_to t("navbar.properties.house.view"), houses_path, class: "nav-link px-2 text-pink fs-5 house"%>
                    </li>
            
                  </ul>
                </div>
              <!--End Rent -->
 
          <% if user_signed_in? and !current_user.profile.nil? %>
            <% if current_user.profile.cliente?%>
            <!--Proprieties -->
            <div class="dropdown">
                <button class="nav-link px-2 text-pink fs-5 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <%=  t("navbar.lotes-houses") %>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to t("navbar.house"), houses_path, class:"dropdown-item nav-link px-2 text-pink fs-5" %>
                  </li>
                  <li>
                    <%= link_to t("navbar.land"), lands_path, class:"dropdown-item nav-link px-2 text-pink fs-5" %>
                  </li>
                </ul>
              </div>
            <!--End Proprieties -->
           <% end %>
         <% end %>

           <li> <%= link_to t("navbar.pricing"), plans_path, class: "nav-link px-2 text-pink fs-5 land" %> </li>

        </ul>


        <%= link_to t("devise.links.sign.up"), new_user_registration_path, class: "btn btn-pink ms-1" if !user_signed_in?%> 
        <%= link_to t("devise.links.sign.in"), user_session_path, class: "btn btn-info ms-1" if !user_signed_in?%> 
        

         <% if user_signed_in? %>
          <div class="dropdown">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            
            <span class="text-pink">  
              <%= current_user.email %>
            </span>

            <% if current_user.profile.nil? %>
              <img src="https://w7.pngwing.com/pngs/584/113/png-transparent-pink-user-icon.png" alt="mdo" width="32" height="32" class=" bd-placeholder-img rounded-circle ms-2"></a>      
            <% elsif  !current_user.profile.image.attached?%>
              <img src="https://w7.pngwing.com/pngs/584/113/png-transparent-pink-user-icon.png" alt="mdo" width="32" height="32" class=" bd-placeholder-img rounded-circle ms-2"></a>
            <% else %>
              <%= image_tag(current_user.profile.image, class: "rounded-circle ms-2", 
                  width:"32", height:"32") if current_user.profile.image.attached? %>
            <% end %>
          <% end %>
          
          <ul class="dropdown-menu text-small " aria-labelledby="dropdownUser1">
          <% if user_signed_in? %>
             <li> <%= link_to t("navbar.profile"), new_profile_path, 
             class: "dropdown-item nav-link px-2 text-pink fs-5"%> </li>
            <li> 
              <%= link_to t("navbar.security"), edit_user_registration_path, 
              class: "dropdown-item nav-link px-2 text-pink fs-5"%> 

              <%= link_to t("navbar.favorite-lands"), favorite_lands_path, 
              class: "dropdown-item nav-link px-2 text-pink fs-5"%> 

              <%= link_to t("navbar.favorite-houses"), favorite_houses_path, 
              class: "dropdown-item nav-link px-2 text-pink fs-5"%> 
            </li>
            <li> 
              <%= link_to t("devise.links.logout"), destroy_user_session_path,  method: :delete, 
                class: "dropdown-item nav-link px-2 text-pink fs-5" %> 
            </li>
          <% end %>
      
          <% if !user_signed_in? %>
            
            <li> <%= link_to t("devise.links.sign.in"), user_session_path, class: "dropdown-item nav-link px-2 text-pink fs-5" %> </li>
         
          <% end %>
          
 
          </ul>    
        </div>
      </div>

    </div>
</header>